<!DOCTYPE html>
%html
 %head
  = render :partial => 'partials/scripts'
 %body
  = render :partial => 'partials/header'

  %div.uk-container
   %div.uk-section.uk-section-default
    %h1.uk-heading-primary.uk-heading-divider Welcome
    %h2
     %span
      %strong.oneirros-title-font.uk-heading-primary OneiRRos
      &nbsp;
     is a platform for Rival Regions enhancement in development.
     %div
     It is a full stack Rails application and handles data scrapping to display.
    %a.uk-button.uk-button-primary.uk-button-large.uk-align-left@l Login (Soon)
    %a.uk-button.uk-button-danger.uk-button-large.uk-align-left@l Register (Soon)
    %a.uk-button.uk-button-secondary.uk-button-large.uk-align-right@l{"href" => 'https://github.com/Fira/oneirros2'} Check it out on GitHub!
    %a.uk-button.uk-button-secondary.uk-button-large.uk-align-right@l{"href" => '/regions_view'} See Regions Tech Demo
