<!DOCTYPE html>
%html
 %head
  = render :partial => 'partials/scripts'
 %body
  %div.uk-container
   %nav.uk-navbar-container.uk-margin{"uk-navbar" => ""}
    %div.uk-navbar-left
     %a.uk-navbar-item.uk-logo OneiRRos
