<!DOCTYPE html>
%html
 %head
  = render :partial => 'partials/scripts'
  %title OneiRRos - Title
 %body
  = render :partial => 'partials/header'

  %div.uk-container
   %div.uk-section.uk-section-default
    %h1.uk-heading-primary Welcome
    %h2
     %span
      %strong.oneirros-title-font.uk-heading-primary OneiRRos
      &nbsp;
     is a platform for Rival Regions analytics and development.
     %div
     It is a full stack Rails application and handles data scrapping to display.
    %div.uk-grid-large.uk-padding-small.uk-align-center{"uk-grid" => ""}
     %a.uk-button.uk-button-secondary.uk-child-width-1-4{"href" => '/resources'}Market Tech Demo
     %a.uk-button.uk-button-secondary.uk-child-width-1-4{"href" => '/regions'}Regions Tech Demo
     %a.uk-button.uk-button-secondary.uk-child-width-1-4{"href" => '/regions/simulator'}Regions Caculator Demo
     %a.uk-button.uk-button-secondary.uk-child-width-1-4{"href" => 'https://t.me/OneirrosIndexBot'}Telegram Bot Demo
    %a.uk-button.uk-button-danger.uk-button-large{"href" => 'https://github.com/Fira/oneirros2'} Check it out on GitHub!
