%div.uk-container
 %nav.uk-navbar-container.uk-margin{"uk-navbar" => ""}
  %div.uk-navbar-left
   %a.uk-navbar-item.uk-logo.oneirros-title-font 
    OneiRRos
   %ul.uk-navbar-nav
    %li
     %a{"href" => "#"} Data
     %div.uk-navbar-dropdown
      %ul.uk-nav.uk-navbar-dropdown-nav
       %li Regions
