%div.uk-container
 %nav.uk-navbar-container.uk-margin{"uk-navbar" => ""}
  %div.uk-navbar-left.uk-dark
   %a.uk-navbar-item.uk-logo.oneirros-title-font{"href" => "/"}
    OneiRRos
   %ul.uk-navbar-nav
    %li
     %a{"href" => "#"} Data
     %div.uk-navbar-dropdown
      %ul.uk-nav.uk-navbar-dropdown-nav
       %li 
        %a{"href" => "/regions_view"} 
         Regions
    %li
     %a{"href" => "/apipie"} API
