%div.uk-container
 %nav.uk-navbar-container.uk-margin{"uk-navbar" => ""}
  %div.uk-navbar-left.uk-dark
   %a.uk-navbar-item.uk-logo.uk-margin-small-top{"href" => "/"}
    %h1
     %strong.uk-heading-primary.oneirros-title-font OneiRRos
   %ul.uk-navbar-nav
    %li
     %a.uk-margin-medium-left{"href" => "#"}
      %span{"uk-navbar-toggle-icon" => ""}
      %span.uk-margin-small-left 
       %strong Data
     %div.uk-navbar-dropdown{"mode" => "click"}
      %ul.uk-nav.uk-navbar-dropdown-nav
       %li 
        %a{"href" => "/regions"} 
         %strong Regions
       %li
        %a{"href" => "/resources"}
         %strong Market
    %li
     %a{"href" => "/apipie", "data-turbolinks" => "false"} 
      %strong API
 %hr
